:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  background:rgb(30, 2, 30);
  color: white;
}

.form-wraper{
  display: flex;
  margin-top: 8px;
align-items: center;
}

.search-form {
  display: flex;
  width: 350px;
  background: rgba(47, 54, 64, 0.9);
  border-radius: 40px;
  padding: 2px;
  margin-left: auto;
  margin-right: 12px;
}
.settings {
  fill: rgba(255, 255, 255, 0.648);
margin-right: auto;
}
.settings:hover{
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: rgba(47, 54, 64, 0.9);
  fill: black;
  cursor: pointer;
} 

.btn {
  fill: white;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(47, 54, 64, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 6px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 100%;
}


@media screen and (max-width: 620px) {
  .search-form {
    width: 250px;
  }
}
