<div class="settings-container visually-hidden">
    <form class="setting-form">
        <p>Theme:</p>
        <label>
            <input type="radio" name="theme" value="dark" checked />
            Dark
        </label>
        <label>
            <input type="radio" name="theme" value="bright" />
            Bright
        </label>
        <p>Pagination type:</p>
        <label>
            <input type="radio" name="pagination" value="infinityScroll" checked />
            Infinity scroll
        </label>
        <label>
            <input type="radio" name="pagination" value="pagination" />
            Pagination
        </label>
        <label>
            <input type="radio" name="pagination" value="loadMore" />
            Button "Load more"
        </label>
        <button class="apply-btn" type="submit">Apply</button>
    </form>
</div>